{% extends "base.html" %}

{% block title %} DameVino - Contacto {% endblock %}

{% block content %}

    <div id="contenedor" class="container-fluid px-4 px-lg-5 pt-lg-5 pt-3 pb-4" style="background-color: white;">
        <div id="colC" class="row justify-content-center py-4" style="background-color: #a1ded6;">
            <div class="col-lg-8 col-xs-10">
                <h2 id="tituloC" style="font-size: 3em;">Tu opinión nos importa</h2>
                <p style="font-size: large; text-align: center;">Escríbenos y dinos qué plato te gustaría añadir, qué te parece dameVino o cualquier cosa que quieras contarnos, ¡estaremos encantados de leerte!</p>
                <div id="group1" class="form-group">
                    <label for="nom"><b>Nombre</b></label>
                    <input type="text" id="nom" name="nom" class="form-control" style="border-color: #762933; border-width: 2px;">
                </div>
                <div id="group2" class="form-group">
                    <label for="email"><b>Correo electrónico</b></label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="email@email.com" style='border-color: #762933; border-width: 2px;'>
                </div>
                <div id="group3" class="form-group">
                    <label for="mensaje"><b>Tu mensaje</b></label>
                    <textarea id="mensaje" name="mensaje" class="form-control" rows="5" style='border-color: #762933; border-width: 2px;'></textarea>
                </div>
            </div>
        </div>
        <div id="bEnviar" class="row justify-content-center pt-4">
            <button class="btn boton" onclick = enviar()><b>Enviar</b></button>
        </div>
    </div>

{% endblock %}