{% extends "base.html" %}

{% block title %} DameVino - Contacto {% endblock %}

{% block content %}

<div id="contenedor" class="jumbotron my-0" style="background-color: #a1ded6;">
    <div class="row justify-content-center mb-2">
        <div class="col-xl-6 col-xs-8">
            <h2 class="d-flex justify-content-center mb-4">Tu opinión nos importa</h2>
            <p class="d-flex justify-content-center" style="font-size: large;">Escríbenos y dinos qué plato te gustaría añadir, qué te parece dameVino o cualquier cosa que quieras contarnos, ¡estaremos encantados de leerte!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-xs-10">
            <div id="group1" class="form-group">
                <label for="nom"><b>Nombre</b></label>
                <input type="text" id="nom" name="nom" class="form-control" style="border-color: #762933">
            </div>
            <div id="group2" class="form-group">
                <label for="email"><b>Correo electrónico</b></label>
                <input type="text" id="email" name="email" class="form-control" placeholder="email@email.com" style='border-color: #762933'>
            </div>
            <div id="group3" class="form-group">
                <label for="mensaje"><b>Tu mensaje</b></label>
                <textarea id="mensaje" name="mensaje" class="form-control" rows="5" style='border-color: #762933'></textarea>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn boton" onclick = enviar() style="width: 25%;"><b>Enviar</b></button>
            </div>  
        </div>
    </div>
</div>

<script>
    function enviar(){
        var nombre = document.getElementById("nom").value;
        var correo = document.getElementById("email").value;
        var msg = document.getElementById("mensaje").value;

        $("#advertencia").remove();

        if(nombre != ""){
            if(correo != ""){
                var regex = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                
                if(regex.test(correo)){
                    if(msg != ""){
                        $("#contenedor").html("<p class='d-flex justify-content-center' style='font-size: '><b>Tu mensaje ha sido enviado correctamente</b></p>")
                        $("#contenedor").append("<div class='col d-flex justify-content-center'><a class='btn boton mt-4' href='{% url 'inicio' %}' style='margin-right: 5px; alig'><b>DameVino</b></a><a class='btn boton mt-4' href='{% url 'contacto' %}' style='margin-left: 5px'><b>Contacto</b></a></div")
                    }
                    else
                        $("#group3").append("<p id='advertencia' style='color: #762933'><b>Este campo no puede estar vacío</b></p>")
                }
                else
                $("#group2").append("<p id='advertencia' style='color: #762933'><b>El correo no tiene una estructura válida</b></p>")
            }
            else
                $("#group2").append("<p id='advertencia' style='color: #762933'><b>Este campo no puede estar vacío</b></p>")    
        }    
        else        
            $("#group1").append("<p id='advertencia' style='color: #762933'><b>Este campo no puede estar vacío</b></p>")
    }
</script>
{% endblock %}