{% extends "base.html" %}
{% load static %}

{% block title %} DameVino - Detalles {% endblock %}

{% block content %}

<div class="container-fluid px-5 py-5" style="background-color: white;">
    <div id="colD" class="row py-5" style="background-color: #a1ded6;">
        <div class="col-12 col-lg-5 d-flex justify-content-center">
            <img class="img-fluid img-thumbnail" src="{{v.img}}">
        </div>
        <div class="col-12 col-lg-7">
            <div class="row justify-content-center">
                <h1 id="tituloD">{{v.nombre}}</h1>
            </div>
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="card-body">
                        <p class="card-text"><span class="badge badge-pill badge-dark">Tipo vino: </span>{{v.tipo}}</p>
                        <p class="card-text"><span class="badge badge-pill badge-dark">Añada: </span>
                            {% if v.anada == 'Nan' %}
                                -
                            {% else %}
                                {{v.anada}}
                            {% endif %}
                        </p>
                        <p class="card-text"><span class="badge badge-pill badge-dark">Denominación: </span>{{v.denominacion}}</p>
                        <p class="card-text"><span class="badge badge-pill badge-dark">Bodega: </span>{{v.bodega}}</p>
                        <p class="card-text"><span class="badge badge-pill badge-dark">Puntuación: </span>{{v.puntos}}</p>
                        <p class="card-text"><span class="badge badge-pill badge-dark">Maridaje: </span>{{v.maridaje}}</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-4">
                <a href="#" class="btn boton" style="width: 25%;">Comprar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}