{% extends "base.html" %}

{% block title %} DameVino {% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid mx-0 my-0" style="background-color: #FFFFFF">
    <div class="container">
        <div class="row align-items-center">
          <div class="col">	
          <h1 style="font-family: 'Pacifico'">¿Qué es DameVino?</h1>
          <p class="lead">DameVino es un recomendador de vinos online que te sugiere 5 vinos nacionales según las distintas características escogidas y el plato con el que lo quieras acompañar.</p>
        </div>
        <div class="col col-xl-5">
            {% load static %}
            <img src="{% static 'img/queEs.gif' %}" width="400" height="350" class="d-inline-block align-bottom" alt="">
        </div>	
      </div>    
    </div>
  </div>  
  <div class="jumbotron jumbotron-fluid mx-0 my-0" style="background-color: #a1ded6">
    <div class="container">
        <div class="row">
            <div class="col" style="margin: auto;">
                <h1 style="font-family: 'Pacifico'">¿Cómo funciona?</h1>
                {% load static %}
                <img src="{% static 'img/ensalada.svg' %}" width="250" height="250" class="d-inline-block align-bottom" alt="" style="margin-left: 6.5em;">
                <h3>Dinos qué vas a comer, y te sugeriremos 5 vinos distintos</h3>
                <p class="lead">DameVino es un recomendador de vinos online que te sugiere 5 vinos nacionales según las distintas características escogidas y el plato con el que lo quieras acompañar.</p>
                <button type="button" class="btn boton">Recomendador</button>
          </div>
          <div class="col">
              {% load static %}
              <img src="{% static 'img/botella_copa.svg' %}" width="250" height="250" class="d-inline-block align-bottom" alt="" style="margin-top: 3em; margin-bottom: 2em; margin-left: 6.5em;">
              <h3>O puedes buscar tú el vino directamente</h3>
              <p class="lead">Tenemos una vinoteca con más de 150 referencias donde podrás buscar vinos por tipo de vino, D.O., puntuación, maridaje, etc. y descubrir nuestra selección en cada caso.</p>
              <button type="button" class="btn boton">Ir a la vinoteca</button>
          </div>
      </div>
    </div>  
  </div>

{% endblock %}