<div class="header">
  <div class="container">	
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand mb-0 h1" href="#">
          <img src="./img/ico.svg" width="80" height="80" class="d-inline-block align-bottom" alt="">
          <span style="font-size: 1.8em; font-family: 'Pacifico'; color: #762933">DameVino</span>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="line"></span> 
          <span class="line"></span> 
          <span class="line" style="margin-bottom: 0;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 4em; margin-top: 2.5em">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">DameVino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recomendador de Vinos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Buscador de Vinos</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
      </div>
    </nav>  
    <div>
      <p class="eslogan">Dinos qué comes y te diremos qué beber</p>
    </div>
  </div>
</div>