{% load static %}

<div class="header">
  <div class="container">	
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand mb-0 h1" href="{% url 'inicio' %}">
          <img src="{% static 'img/ico.svg' %}" width="80" height="80" class="d-inline-block align-bottom" alt="">
          <span class="logo">DameVino</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="line"></span> 
          <span class="line"></span> 
          <span class="line" style="margin-bottom: 0;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 4em; margin-top: 2.5em">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">DameVino</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recomendador' %}">Recomendador de Vinos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vinoteca' %}">Buscador de Vinos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>  
    <div>
      <p class="eslogan"><script>eslogan();</script></p>
    </div>
  </div>
</div>