{% extends "base.html" %}

{% block title %} DameVino - Recomendador {% endblock %}

{% block content %}
<div class="container-fluid" style="background-color: #a1ded6; height: 50px;">
    <div class="row">
        <div class="col">
            <span id="c1"></span>
        </div>
        <div class="col">
            <span id="c2"></span>
        </div>
        <div class="col">
            <span id="c3"></span>
        </div>
        <div class="col">
            <span id="c4"></span>
        </div>
        <div class="col">
            <span id="c5"></span>
        </div>
        <div class="col">
            <span id="c6"></span>
        </div>
        <div class="col">
            <span id="c7"></span>
        </div>
    </div>
</div>
<div id="contenedorRV" class="container-fluid">
    <script>
        inicioRecomendador();
    </script>
</div>

{% endblock %}