{% extends "base.html" %}

{% block title %} DameVino - Recomendador {% endblock %}

{% block content %}

    <div class="container-fluid px-5 py-4" style="background-color: white;">
        <h1 id="tituloR"></h1>
        <div id="colRV" class="row px-5 py-5 justify-content-center" style="background-color: #a1ded6;">

        </div>
        <div id="botonSiguiente" class="row justify-content-center pt-4">
            
        </div>
        <div id="contenedorRVenviar" class="row justify-content-center">
            <form id="f" method="GET">
            
            </form>
        </div>
        <script>
            inicioRecomendador();
        </script>
        <script>
            $(function() {
                'use strict';
            
                $('#f').on('submit', function()
                {

                    $.get("{% url 'formRecomendador' %}", {"tipoV": tipoV, "tipoD": tipoD, "tipoE": tipoE, "tipoM": tipoM, "tipoG": tipoG, "tipoT": tipoT, "tipoC": tipoC}, function(data){
                        var html = "";
                        var n = data.length;
                        var vId;
                        
                        if (n > 0)
                        {
                            $("#colRV").empty();
                            $("#tituloR").html("Recomendación de DameVino");
                            $("#contenedorRVenviar form").empty();
                            for(var i = 0; i<n; i++)
                            {
                                var vId = data[i].id;
                                html+='<div class="card border-secondary mx-1 my-1" style="width: 14rem;">'
                                        +'<img src='+ data[i].img +' class="card-img-top pt-4 pb-2" alt="...">'
                                        +'<div class="card-body">'   
                                            +'<h5 class="card-title" align="center">'+ data[i].nombre +'</h5>'
                                            +'<div class="card-text align-bottom">'
                                                +'<p><small class="text-muted">Tipo: '+ data[i].tipo +'</small></p>'
                                                +'<p><small class="text-muted">D.O: '+ data[i].denominacion +'</small></p>'
                                            +'</div>'
                                        +'</div>'
                                        +'<div class="card-footer">'
                                            +'<a href="../detalles/'+vId+'" target="_blank" class="btn boton btn-block d-flex justify-content-center">Ver Detalles</a>'
                                        +'</div>'
                                    +'</div>'
                            }
                        }
                        else
                        {
                            $("#colRV").empty();
                            $("#tituloR").html("Recomendación de DameVino");
                            $("#contenedorRVenviar form").empty();
                            html+="<div><h2 class=\"text-center\"><span>No hay resultados</span></h2></div>";
                        }
                        $("#colRV").append(html);
                        $("#botonSiguiente").append("<button class='btn boton' onclick = inicioRecomendador()>Nueva recomendación</button>");        
                    })
                    return false;
                });
            });

        </script>
    </div>

{% endblock %}